datasets==2.19.1
fastapi==0.111.0
gpt4all==1.0.12
langchain==0.2.6
marqo==3.0.0
minio==7.1.15
numpy==2.0.0
openpyxl==3.1.4
pandas==2.2.2
pydantic==1.10.15
PyMuPDF==1.22.5
ragatouille==0.0.8.post2
Requests==2.32.3
sentence_transformers==3.0.1
streamlit==1.28.2
